<!doctype html>
<html ng-app="teamforming">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Team Forming Website</title>
	<!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	-->
	        
    <script src="lib/jquery.min.js"></script>      
    <script src="lib/bootstrap.min.js"></script>      
      	  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">   
	
	<link rel="stylesheet" href="js/fancyBox/source/jquery.fancybox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="js/fancyBox/source/jquery.fancybox.pack.js"></script>

      
    <!-- Customized libraries shared by pages -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>
	<!-- AngularFire URL: https://github.com/firebase/angularfire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

	<script>
	  // Initialize Firebase
	  var config = {
		apiKey: "AIzaSyB6bC90FN323tYhfGdeesZodkj3jEymAMU",
		authDomain: "comp3111teamform.firebaseapp.com",
		databaseURL: "https://comp3111teamform.firebaseio.com",
		storageBucket: "comp3111teamform.appspot.com",
		messagingSenderId: "990477328608"
	  };
	  firebase.initializeApp(config);
	  
	  $(document).ready(function(){
			//$.get("navbar.html",function(response){
			//$('#navBar').append(response);
			//});
			//$('#wrapper').('navbar.html');
		});
	  
	</script>
	
	<!-- global function -->
	<script src="js/global.js"></script>
	
	
	
	<!-- Customized CSS shared by pages -->
	<link href="css/theme.css" rel="stylesheet" type="text/css">
	<link href="css/teamPanel.css" rel="stylesheet" type="text/css">

</head>

<body>
<div ng-controller="dashBoardCtrl">
	
    <div id="wrapper">
        <!-- Sidebar -->
		<div id="navBar" ng-controller="wrapperCtrl">
			<div ng-include="'navbar.html'"></div>
		</div>
        <!-- Page Content -->
		<div ng-controller="teamPanelCtrl" class="row content">
        	<div ng-if="role=='0'"> 
				<div class="heading">
           	 		<h1>Team Panel</h1>
        		</div>
        
				<div class="section">
					<p>Team info</p>
				</div>
        		<div id="cont1">
				<table class="teamInfo">
					<tr><td>Course code:</td><td>{{currCourse.title}}</td></tr>
        			<tr><td>Role:</td><td>Student</td></tr>
					<tr><td>Team name:</td><td>{{joinedTeam.name}}</td></tr>
					<tr><td>Max size:</td><td>{{currCourse.max}}</td></tr>
				</table>
				<br>
				<div ng-if="isOwner==true"><p style="font-weight:bold;">Team role: Team leader</p>
				Action: <button type="button" class="btn btn-primary btn-sm" a ng-click="deleteTeam()">Delete Team</a></button></div>
				<div ng-if="isOwner==false"><p style="font-weight:bold;">Team role: Team member</p>
				Action: <button type="button" class="btn btn-primary btn-sm" a ng-click="quitTeam()">Quit Team</a></button></div>	
       	 		</div>
				<br>

				<div class="section">
				<p>Team member</p>
				</div>
				<div id="cont2">
				<table class="table table-bordered" >
			 	 	<tr>
			  	  	<th>Name</th>
			   	 	<th>Email</th>
               		<th>Role</th>
			    	<th ng-if="isOwner==true">Action</th>
		      		</tr>
			  		<tr ng-repeat="q in teamMember">
			    	<td>{{ q.data.userName }}</td>
			    	<td>{{ q.data.email }}</td>
                	<td ng-if="joinedTeam.leaderID==q.data.email">Leader</td>
                	<td ng-if="joinedTeam.leaderID!=q.data.email">Member</td>
			    	<td ng-if="isOwner==true"><button type="button" class="btn btn-primary btn-sm" a ng-click="deleteMember(0,q.data.email,q.key)">delete </a></button></td>
		      		</tr>
			  	</table>

				<div class="section">
					<p>Member waiting list</p>
				</div>
				<table class="table table-bordered" >
			  		<tr>
			    	<th>Name</th>
			    	<th>Email</th>
			    	<th ng-if="isOwner==true">Action</th>
		      		</tr>
			  		<tr ng-repeat="q in waitingList">
			    	<td>{{ q.data.userName }}</td>
			    	<td>{{ q.data.email }}</td>
			   		 <td ng-if="isOwner==true"><button type="button" class="btn btn-success" a ng-click="requestHandler(0,0,q.data.email,q.key)">Accept</a></button><button type="button" class="btn btn-danger" a ng-click="requestHandler(1,0,q.data.email,q.key)" style="margin-left:10px">Decline</a></button></td>
		      		</tr>
				</table>
				<div ng-if="isOwner==true">
				<div class="section">
					<p>Member Invite list</p>
					 <button id="btn_admin" type="button" class="btn btn-primary" ng-click="inviteForm()">Stduent List</button>
				</div>
				<table class="table table-bordered" >
			  		<tr>
			    	<th>Name</th>
			    	<th>Email</th>
			    	<th >Action</th>
		      		</tr>
			  		<tr ng-repeat="q in inviteList">
			    	<td>{{ q.data.userName }}</td>
			    	<td>{{ q.data.email }}</td>
			   		 <td ><button type="button" class="btn btn-danger" a ng-click="inviteHandler(1,q.key,q.data.email)" style="margin-left:10px">Delete</a></button></td>
		      		</tr>
				</table>
				
				<div id="studentList" style="display:none; width:500px; padding: 0px;" class="fancybox">
					Course Student List
					<div ng-repeat="q in studentList">
						<li>{{ q.data.userName }}{{ q.data.email }}<a href="userInfo.html?u={{q.key}}" target="_blank">Details</a><button ng-click="inviteHandler(0,q.key,q.data.email)">Invite</button></li>
						<br>

		      		</div>
				</div>
				
				</div>
    
			</div>
			</div>
			<div ng-if="role=='1'"> 
				<div class="heading">
					<h1>Edit Course</h1>
				</div>
          
				<div id="con1">
					<label>Title </label> 
					<input type="text" value="{{currCourse.title}}" ng-model="currCourse.title" required size="20" style="text-align: center;">
				</div>
				<div id="con2">
					<label>Description</label>
                    <br>
                    <textarea ng-model="currCourse.message" required rows="5" cols="50" >{{currCourse.title}}</textarea>
				</div>
				
				<div id="con3">
				<label>Team image</label>
				<input type="file" id="profilePic" onchange="angular.element(this).scope().fileNameChanged(this)">
				<img src="{{currCourse.image}}" id="base64PicURL" width="500px">
				<span id="base64Name"></span>
				<button type="button" class="btn btn-primary btn-sm" a id="removeURL" ng-click="removeImg()">Remove</a></button>	
				</div>
			
				<input type="submit" value="Submit" class="btn btn-primary btn-sm" ng-click="editCourse()">
				
				<br>
				<button type="button" class="btn btn-primary btn-sm" a id="removeURL" ng-click="autoTeamForming(false)">auto Team Forming</a></button>
				<button type="button" class="btn btn-primary btn-sm" a id="removeURL" ng-click="autoTeamForming(true)">random Team Forming</a></button>
			</div>
		</div>
	</div>
</div>


        <!-- /#page-content-wrapper -->
    
	<!-- /#wrapper -->
<!-- jQuery -->
    



    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
	
    </script>
	

</body>
</html>
