@import url(http://fonts.googleapis.com/css?family=Raleway:300,200);
html {
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: Raleway, sans-serif;
  background-color: #5D92BA;
  background: url(http://fullhdpictures.com/wp-content/uploads/2016/07/Mobile-Graduation-Wallpaper.jpg) no-repeat fixed;
  background-size: cover;
  background-attachment: inherit;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.container {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

.login {
  margin-top: 50px;
  width: 450px;
}

.input-txt {
  width: 100%;
  padding: 20px 10px;
  background: #5D92BA;
  border: none;
  font-size: 1em;
  color: white;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.input-txt:-moz-placeholder {
  color: #81aac9;
}
.input-txt:-ms-input-placeholder {
  color: #81aac9;
}
.input-txt::-webkit-input-placeholder {
  color: #81aac9;
}
.input-txt:focus {
  background-color: #4478a0;
}

.login-footer {
  margin: 10px 0;
  overlow: hidden;
  float: left;
  width: 100%;
}

.btn {
  padding: 15px 30px;
  border: none;
  background: white;
  color: #5D92BA;
}

.form {
  margin: 0 auto;
  position: fixed;
  top: 35%;
  left: 50%;
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  width: 350px;
  padding: 20px;
  overflow: hidden;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: inherit;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.form .forceColor {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.form:before {
  content: "";
  width: 110%;
  height: 110%;
  position: absolute;
  background: inherit;
  left: -5%;
  right: 0;
  bottom: 0;
  top: -5%;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.form.goAway {
  opacity: 0;
  -moz-transform: scale(0.6) translate3d(-50%, 0, 0);
  -ms-transform: scale(0.6) translate3d(-50%, 0, 0);
  -webkit-transform: scale(0.6) translate3d(-50%, 0, 0);
  transform: scale(0.6) translate3d(-50%, 0, 0);
  -moz-transition: -moz-transform 200ms ease-in-out, opacity 100ms linear;
  -o-transition: -o-transform 200ms ease-in-out, opacity 100ms linear;
  -webkit-transition: -webkit-transform 200ms ease-in-out, opacity 100ms linear;
  transition: transform 200ms ease-in-out, opacity 100ms linear;
  -moz-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
.form .topbar .spanColor {
  position: absolute;
  width: 0px;
  right: 20px;
  height: 43px;
  opacity: 0.2;
  background-color: white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
  -o-transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
  -webkit-transition: width 150ms ease-in-out, background-color 150ms ease-in-out, border 150ms ease-in-out;
  -webkit-transition-delay: 0s, 250ms, 250ms;
  transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
}
.form .topbar .input {
  display: block;
  width: 100%;
  position: relative;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 1rem;
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 25px;
  color: rgba(255, 255, 255, 0.4);
  padding: 10px 20px;
}
.form .topbar .input::-webkit-input-placeholder {
  color: white;
  font-size: 1.2rem;
  font-family: Raleway;
  line-height: 1.3rem;
  font-weight: 200;
}
.form .topbar .input:focus {
  outline: none;
  color: white;
  border: 1px solid white;
}
.form .topbar .input.disabled:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.form .topbar .input:hover {
  border: 1px solid white;
}
.form .checkbox{
  position: relative;
  float: left;
}
.form .submit {
  padding: 10px 20px;
  width: 100%;
  font-size: 1.2rem;
  font-family: Raleway;
  font-weight: 200;
  display: block;
  color: white;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}
.form .submit:focus {
  outline: none;
}
.form .submit:hover {
  color: white;
  border: 1px solid white;
}
.remember {
  color: white;
  position: relative;
  width: 100%;
  font-family: Raleway;
}
.error_message{
  color: red;
  font-size: 1.2rem;
  font-family: Raleway;
  position: relative;
}