.profile{
    text-align: center;
    
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../image/border.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../image/border.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(../image/border.png) 30 stretch;
  
}

p{
    font-size:40px;
    text-align: center;
    text-decoration: underline;
}

label{
    padding-right:20px;
}

.heading h1{
    font-size: 1.8em;
    line-height: 1.5;
    font-weight: 200;
    padding: 5px;
    padding-left: 20px;
    width: 100%;
    margin-top: -30px;
    border-bottom: solid 1px #C7CDD1;
    margin-bottom: 20px;
}

.myProfile{
    padding-left: 50px;
}