.section{
    border-bottom: 1px dotted grey;
    margin-bottom: 10px;
    font-size: 1.5em;
}

#cont1,#cont2{
    overflow-x: auto;
}

.teamInfo{
    font-size: 1.2em;
}

.teamInfo td{
    padding-right: 10px;
}

/* t */
#con1, #con2, #con3, input[type=submit]{
    margin: 0px 20px 20px 20px;
}

