<!DOCTYPE html> 
<html ng-app="dashBoardApp"> 
<head>
<title>DashBoard</title>
	<!-- Angular Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>

	<!-- AngularFire URL: https://github.com/firebase/angularfire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

	<script>
	  // Initialize Firebase
	  var config = {
		apiKey: "AIzaSyB6bC90FN323tYhfGdeesZodkj3jEymAMU",
		authDomain: "comp3111teamform.firebaseapp.com",
		databaseURL: "https://comp3111teamform.firebaseio.com",
		storageBucket: "comp3111teamform.appspot.com",
		messagingSenderId: "990477328608"
	  };
	  firebase.initializeApp(config);
	</script>



	
</head>
<body>

	<div ng-controller="dashBoardCtrl" class="container">
	<h2>DashBoard</h2>
	
<button id="logout" ng-click="logout()">logout</button>

<div  ng-repeat="q in coursesArray" >
{{q.data}}
</div>

</body>
	</div>

	<script src="js/dashBoard.js"></script>

</html>
