<!doctype html>
<html ng-app="teamforming">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <script src="lib/jquery.min.js"></script>      


      
    <!-- Customized libraries shared by pages -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>
	<!-- AngularFire URL: https://github.com/firebase/angularfire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

	<script>
	  // Initialize Firebase
	  var config = {
		apiKey: "AIzaSyB6bC90FN323tYhfGdeesZodkj3jEymAMU",
		authDomain: "comp3111teamform.firebaseapp.com",
		databaseURL: "https://comp3111teamform.firebaseio.com",
		storageBucket: "comp3111teamform.appspot.com",
		messagingSenderId: "990477328608"
	  };
	  firebase.initializeApp(config);
	  
	function gup( name, url ) {
		if (!url) url = location.href;
		name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
		var regexS = "[\\?&]"+name+"=([^&#]*)";
		var regex = new RegExp( regexS );
		var results = regex.exec( url );
		return results == null ? null : results[1];
	}
	  
	$(document).ready(function(){
		var ckey=gup('c', window.location.href);
	
		if(ckey==null||ckey=="")
		{
			$('#autoTrigger').click();		
		}
		else
		{
			$('#courseKey').val(ckey);
			$('#setCourseToAuto').click();
		}
	});

	  
	</script>
	
	<!-- global function -->
	<script src="js/global.js"></script>
	<script src="js/autoTeamForming.js"></script>
	


<body>
<div ng-controller="dashBoardCtrl">

</div>


<div id="navBar" ng-controller="wrapperCtrl">

</div>


<div ng-controller="autoTeamFormingCtrl">
<a ng-click="autoTrigger()" style="display:none;" id="autoTrigger"></a>
<a ng-click="setCourseToAuto()" style="display:none;" id="setCourseToAuto"></a>
<input type="hidden" id="courseKey">

</div>
	

</body>
</html>
