<!doctype html>
<html ng-app="teamforming">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Team Forming Website</title>
	<!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	-->
	        
    <script src="lib/jquery.min.js"></script>      
    <script src="lib/bootstrap.min.js"></script>      
      	  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">   
    <link rel="stylesheet" href="css/bootstrap-datepicker.min.css">   
	<link href="css/createcou.css" rel="stylesheet" type="text/css">
      
    <!-- Customized libraries shared by pages -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>
	<!-- AngularFire URL: https://github.com/firebase/angularfire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
	<script src="js/bootstrap-datepicker.min.js"></script>

	<script>
	  // Initialize Firebase
	  var config = {
		apiKey: "AIzaSyB6bC90FN323tYhfGdeesZodkj3jEymAMU",
		authDomain: "comp3111teamform.firebaseapp.com",
		databaseURL: "https://comp3111teamform.firebaseio.com",
		storageBucket: "comp3111teamform.appspot.com",
		messagingSenderId: "990477328608"
	  };
	  firebase.initializeApp(config);
	  
    File.prototype.convertToBase64 = function(callback){
            var reader = new FileReader();
            reader.onload = function(e) {
                 callback(e.target.result)
            };
            reader.onerror = function(e) {
                 callback(null);
            };        
            reader.readAsDataURL(this);
    };


	$( document ).ready(function() {
	/*	$("#profilePic").on('change',function(){
			$("#base64Img").val('');
			  var selectedFile = this.files[0];
			  selectedFile.convertToBase64(function(base64){
				   $("#base64Img").val(base64);
				   $('img').attr("src",base64);
			  }) 
			});*/
});
	</script>
	
	<!-- global function -->
	<script src="js/global.js"></script>
	<script src="js/createCourse.js"></script>
	
	
	
	<!-- Customized CSS shared by pages -->
	<link href="css/theme.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/dash.css">
<body>
<div ng-controller="dashBoardCtrl">

</div>
    <div id="wrapper">

        <!-- Sidebar -->
		<div id="navBar" ng-controller="wrapperCtrl">
		<div ng-include="'navbar.html'"></div>
		</div>
        <!-- Page Content -->
        <div class="row content">
		<div class="heading"><h1>Create Course</h1></div>
			<div ng-controller="createCoursesCtrl" class="container">
		<form name="form" >
			<div >
				<label>Course Code: </label>
				<input type="text" name="title" ng-model="courseInfo.title" required placeholder="e.g. comp3111">
			</div>

			<div id="pic">
				<label>Course Profile Picture</label>
				<input type='file' id="profilePic" onchange="angular.element(this).scope().fileNameChanged(this)">
				
				<img src id="base64PicURL" style="max-width:500px;height:auto;">
				<span id="base64Name"></span>
				<a id="removeURL" style="display:none;" ng-click="removeImg()">Remove</a>
			</div>
			
            <label>Description</label>
			<div>	
				<textarea name="description" ng-model="courseInfo.message" required rows="5" cols="50"></textarea>
			</div>
            <div style="padding:7.5px 0">
                <label>Member range(2-20)</label>
                <div>
                    <div style="display:inline-block">Min: <input type="number" ng-model="courseInfo.min" min="2" max="20"></div>
                    <div style="display:inline-block">Max: <input type="number" ng-model="courseInfo.max" min="2" max="20"></div>
                </div>
            </div>
            <div style="padding:7.5px 0">
                <label>Date</label>
                <div>
                    <input type="text" ng-model="courseInfo.date" id="datepicker" required>

                </div>
            </div>
			<div style="padding:7.5px 0">
                <label>Full Random Team Algorithm</label>
                <div>
                    <input type="checkbox" ng-model="courseInfo.random" >

                </div>
            </div>
			<div id="sub">
				<input type="submit" name="submit" id="submit"  ng-click="createCourse()">
			</div>
		</form>
</body>
	</div>
    </div>
		
		
       
        <!-- /#page-content-wrapper -->

    </div>
    
	<!-- /#wrapper --><!-- jQuery -->
    



    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
	
    </script>
	

</body>
</html>
