<!doctype html>
<html ng-app="teamforming">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Team Forming Website</title>
	<!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	-->
	        
    <script src="lib/jquery.min.js"></script>      
    <script src="lib/bootstrap.min.js"></script>      
      	  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">   
    <link rel="stylesheet" href="css/bootstrap-datepicker.min.css">   
	<link href="css/createcou.css" rel="stylesheet" type="text/css">
      
    <!-- Customized libraries shared by pages -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>
	<!-- AngularFire URL: https://github.com/firebase/angularfire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
	<script src="js/bootstrap-datepicker.min.js"></script>

	<script>
	  // Initialize Firebase
	  var config = {
		apiKey: "AIzaSyB6bC90FN323tYhfGdeesZodkj3jEymAMU",
		authDomain: "comp3111teamform.firebaseapp.com",
		databaseURL: "https://comp3111teamform.firebaseio.com",
		storageBucket: "comp3111teamform.appspot.com",
		messagingSenderId: "990477328608"
	  };
	  firebase.initializeApp(config);
	  
    File.prototype.convertToBase64 = function(callback){
            var reader = new FileReader();
            reader.onload = function(e) {
                 callback(e.target.result)
            };
            reader.onerror = function(e) {
                 callback(null);
            };        
            reader.readAsDataURL(this);
    };


	$( document ).ready(function() {
	/*	$("#profilePic").on('change',function(){
			$("#base64Img").val('');
			  var selectedFile = this.files[0];
			  selectedFile.convertToBase64(function(base64){
				   $("#base64Img").val(base64);
				   $('img').attr("src",base64);
			  }) 
			});*/
});
	</script>
	
	<!-- global function -->
	<script src="js/global.js"></script>
	<script src="js/createCourses.js"></script>
	
	
	
	<!-- Customized CSS shared by pages -->
	<link href="css/theme.css" rel="stylesheet" type="text/css">
	<link href="css/dash.css" rel="stylesheet" type="text/css">
	<link href="css/inputStyle.css" rel="stylesheet" type="text/css">

<body>
<div ng-controller="dashBoardCtrl">

</div>
    <div id="wrapper">

        <!-- Sidebar -->
		<div id="navBar" ng-controller="wrapperCtrl">
		<div ng-include="'navbar.html'"></div>
		</div>
        <!-- Page Content -->
        <div class="row content">
		<div class="heading"><h1>Create Course</h1></div>
			<div ng-controller="createCoursesCtrl" class="container">
		<form name="form" >
			<div>
				<span class="input input--minoru">
                    					<label class="input__label input__label--minoru" for="courseInfo.title">
						<span class="input__label-content input__label-content--minoru">Course Code</span>
					</label>
					<input class="input__field input__field--minoru" type="text" id="courseInfo.title" name="title" ng-model="courseInfo.title" required placeholder="e.g. comp3111">
				</span>
			</div>

			<div id="pic">
				<span class="input input--minoru">
                    					<label class="input__label input__label--minoru" for="profilePic">
						<span class="input__label-content input__label-content--minoru">Course Image</span>
					</label>
					<input class="input__field input__field--minoru" type='file' id="profilePic" onchange="angular.element(this).scope().fileNameChanged(this)" style="background:transparent;color:black;">
				</span>				
				<img src id="base64PicURL" style="max-width:500px;height:auto;">
				<span id="base64Name"></span>
				<a id="removeURL" style="display:none;cursor:pointer;" ng-click="removeImg()">Remove</a>
			</div>
			<span class="input input--minoru">
                				<label class="input__label input__label--minoru" for="courseInfo.message">
					<span class="input__label-content input__label-content--minoru">Description</span>
				</label>
				<textarea class="input__field input__field--minoru" id="courseInfo.message" ng-model="courseInfo.message" required rows="5" cols="50" ></textarea>
			</span>
            <div style="padding:7.5px 0">
				<br>
                <div>
                <span class="input input--minoru">
                    <label class="input__label input__label--minoru" for="min">
						<span class="input__label-content input__label-content--minoru" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;">Member range (2-20)</span>
					</label>
                </span>
                    </div>
				<div style="display:inline-flex">
				<span class="input input--minoru">
                    <label class="input__label input__label--minoru" for="min">
						<span class="input__label-content input__label-content--minoru">Min</span>
					</label>
					<input class="input__field input__field--minoru" type="number" id="min" ng-model="courseInfo.min" min="2" max="20">
				</span>
				<span class="input input--minoru">
                    <label class="input__label input__label--minoru" for="max">
						<span class="input__label-content input__label-content--minoru">Max</span>
					</label>
					<input class="input__field input__field--minoru" type="number" id="max" ng-model="courseInfo.max" min="2" max="20">
				</span>
				</div>
            </div>
            <div style="padding:7.5px 0">
                <span class="input input--minoru">
                    <label class="input__label input__label--minoru" for="datepicker">
						<span class="input__label-content input__label-content--minoru">Date</span>
					</label>
					<input class="input__field input__field--minoru" type="text" ng-model="courseInfo.date" id="datepicker" required>
					
				</span>
            </div>
			<div style="padding:7.5px 0;margin-left:15px;">
				<input type="checkbox" ng-model="courseInfo.random" id="random">
				<label for="random">Full Random Team Algorithm</label>
            </div>
			<div id="sub" style="margin-left:15px;">
				<!--<input type="submit" name="submit" id="submit" class="btn btn-primary btn-sm" value="Submit" ng-click="createCourse()">-->
                <button type="submit" name="submit" id="submit" class="btn btn-primary btn-sm" value="Submit" ng-click="createCourse()">Submit</button>
			</div>
		</form>
</body>
	</div>
    </div>
		
		
       
        <!-- /#page-content-wrapper -->

    </div>
    
	<!-- /#wrapper --><!-- jQuery -->
    



    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
	
    </script>
	

</body>
</html>
