<!doctype html>
<html ng-app="teamforming">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Team Forming Website</title>
	<!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	-->
	        
    <script src="lib/jquery.min.js"></script>      
    <script src="lib/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      	  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<link rel="stylesheet" href="js/fancyBox/source/jquery.fancybox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="js/fancyBox/source/jquery.fancybox.pack.js"></script>

      
    <!-- Customized libraries shared by pages -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>
	<!-- AngularFire URL: https://github.com/firebase/angularfire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

	<script>
	  // Initialize Firebase
	  var config = {
		apiKey: "AIzaSyB6bC90FN323tYhfGdeesZodkj3jEymAMU",
		authDomain: "comp3111teamform.firebaseapp.com",
		databaseURL: "https://comp3111teamform.firebaseio.com",
		storageBucket: "comp3111teamform.appspot.com",
		messagingSenderId: "990477328608"
	  };
	  firebase.initializeApp(config);
	  
	  $(document).ready(function(){
			//$.get("navbar.html",function(response){
			//$('#navBar').append(response);
			//});
			//$('#wrapper').('navbar.html');
		});
	  
	</script>
	
	<!-- global function -->
	<script src="js/global.js"></script>
	<script src="js/teamPanel.js"></script>
	<script src="js/autoTeamForming.js"></script>
	<script src="js/recommend.js"></script>
	
	<!-- Customized CSS shared by pages -->
	<link href="css/theme.css" rel="stylesheet" type="text/css">
	<link href="css/teamPanel.css" rel="stylesheet" type="text/css">

</head>

<body>
<div ng-controller="dashBoardCtrl">
	
    <div id="wrapper">
        <!-- Sidebar -->
		<div id="navBar" ng-controller="wrapperCtrl">
			<div ng-include="'navbar.html'"></div>
		</div>
        <!-- Page Content -->
		<div ng-controller="teamPanelCtrl" class="row content">
        	<div ng-if="role=='0'"> 
				<div class="heading">
           	 		<h1>Team Panel</h1>
        		</div>
        
				<div class="section">
					<p>Team info
						<button ng-if="isOwner==true&&isEdit==false" ng-click="editInfoForm()" class="btn btn-primary btn-sm" style="margin-left:10px;">Edit Team Info</button>
					</p>
				</div>
        		<div id="cont1">
					<div ng-if="isEdit==false">
					<table class="teamInfo">
						<tr><td>Course code:</td><td>{{currCourse.title}}</td></tr>
						<tr><td>Role:</td><td>Student</td></tr>
						<tr><td>Team name:</td><td>{{tName}}</td></tr>
						<tr><td>Max size:</td><td>{{currCourse.max}}</td></tr>
					</table>
					<label>Added Tags:</label>
				<div id="addedTags" ng-repeat="q in tTag">
					<ul>
						<li class="tag"><i class="fa fa-tag" aria-hidden="true"></i> {{q}}
						</li>
					</ul>
				</div>
				
				</div>
				<div ng-if="isEdit==true" class="updateTeam">
						<h2>Edit Team Information</h2>
						<div>
							<label>Team name</label>
							<br>
							<input type="text" ng-model="tName" id="editTeamName">
						</div>
						<div>
							<label>Team description</label>
							<br>
							<textarea ng-model="tDesc" id="editTeamDesc"></textarea>
						</div>
						<div>
							<label>Tags</label>
								<div class="input-group">
								<input type="text" id="autoComplete">
									<a style="margin-left:-20px;" ng-click="addTag()">
										<i class="fa fa-plus" aria-hidden="true">
										</i>
									</a>
								</div>

						</div>
						<div id="addedTags" ng-repeat="q in addedTags">
							<ul>
								<li class="tag">{{q}}
									<a style="margin-left:3px;" ng-click="removeTag(q)">
										<i class="fa fa-times" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</div>
						<br>
						<button class="btn btn-success btn-sm" ng-click="editTeamInfo()">update</button>
						<button class="btn btn-danger  btn-sm" ng-click="cancelEditInfoForm()" style="margin-left:10px;">cancel</button>
				</div>

				<br>
				<div ng-if="isOwner==true"><p style="font-weight:bold;">Team role: Team leader</p>
				Action: <button type="button" class="btn btn-danger btn-sm" a ng-click="deleteTeam()" style="margin-left:10px;">Delete Team</a></button></div>
				<div ng-if="isOwner==false"><p style="font-weight:bold;">Team role: Team member</p>
				Action: <button type="button" class="btn btn-danger btn-sm" a ng-click="quitTeam()" style="margin-left:10px;">Quit Team</a></button></div>	
       	 		</div>
				<br>

				<div class="section">
				<p>Team member</p>
				</div>
				<div id="cont2">
					<ul class="member">
						<li ng-repeat="q in teamMember">
							<a href="#">
								<img src="image/usericon.png">
								<div class="hover-text">
									<div class="line">
									{{ q.data.userName }}
									</div>
									<span ng-if="joinedTeam.leaderID==q.data.email">Leader</span>
									<span ng-if="joinedTeam.leaderID!=q.data.email">Member</span>
								</div>
							</a>
							<div ng-if="isOwner==true" class="action1">
								<button type="button" class="btn btn-danger btn-sm" a ng-click="deleteMember(0,q.data.email,q.key)">Kick out</a></button>
							</div>
						</li>
					</ul>

				<div class="section">
					<p>Member waiting list</p>
				</div>
				<ul class="member">
						<li ng-repeat="q in waitingList">
							<a href="#">
								<img src="image/usericon.png">
								<div class="hover-text">
									<div class="line">
									{{ q.data.userName }}
									</div>
									{{ q.data.email }}
								</div>
							</a>
							<div ng-if="isOwner==true" class="action1">
								<button type="button" class="btn btn-success btn-sm" a ng-click="requestHandler(0,0,q.data.email,q.key)">Accept</a></button>
							</div>
							<div ng-if="isOwner==true" class="action2">
								<button type="button" class="btn btn-danger btn-sm" a ng-click="requestHandler(1,0,q.data.email,q.key)">Decline</a></button>
							</div>	
						</li>
					</ul>
				
				<div ng-if="isOwner==true">
				<div class="section">
					<p>Member invite list
						<button id="btn_admin" type="button" class="btn btn-primary btn-sm" ng-click="inviteForm()" style="margin-left:10px;">Add member</button>
					</p>
				</div>
				<ul class="member">
						<li ng-repeat="q in inviteList">
							<a href="#">
								<img src="image/usericon.png">
								<div class="hover-text">
									<div class="line">
									{{ q.data.userName }}
									</div>
									{{ q.data.email }}
								</div>
							</a>
							<div ng-if="isOwner==true" class="action1">
								<button type="button" class="btn btn-danger btn-sm" a ng-click="inviteHandler(1,q.key,q.data.email)">Delete</a></button>
							</div>
						</li>
					</ul>
				
				<div id="studentList" style="display:none; width:500px; padding: 0px;" class="fancybox">
					Course Student List
					<br>
					Search:
                        <input id="input_text" type="text" class="input" ng-model="searchStudent.data[searchBy]">
						<select ng-model="searchBy">
							<option value="$">All</option>
							<option value="name">Name</option>
							<option value="email">Email</option>
						</select>   
                        <br>
					
					
					<div ng-repeat="q in studentList | filter:searchStudent">
						<li>{{ q.data.userName }}{{ q.data.email }}<a href="userInfo.html?u={{q.key}}" target="_blank">Details</a><button ng-click="inviteHandler(0,q.key,q.data.email)">Invite</button></li>
						<br>

		      		</div>
					
					You may looking for:
					<div ng-repeat="p in recommendStudentList">
						<li>
						{{ p.data.userName }}{{ p.data.email }}<a href="userInfo.html?u={{p.key}}" target="_blank">Details</a><button ng-click="inviteHandler(0,q.key,q.data.email)">Invite</button>
						<br>
						<div ng-repeat="k in p.data.sameTags">
						Tags:{{k}}
						</div>
						</li>
						<br>

		      		</div>
					
				</div>
				
				</div>
    
			</div>
			</div>
			<div ng-if="role=='1'"> 
				<div class="heading">
					<h1>Edit Course</h1>
				</div>
          
				<div id="con1">
					<label>Title </label> 
					<input type="text" value="{{currCourse.title}}" ng-model="currCourse.title" required size="20" style="text-align: center;">
				</div>
				<div id="con2">
					<label>Description</label>
                    <br>
                    <textarea ng-model="currCourse.message" required rows="5" cols="50" >{{currCourse.title}}</textarea>
				</div>
				
				<div id="con3">
				<label>Team image</label>
				<input type="file" id="profilePic" onchange="angular.element(this).scope().fileNameChanged(this)">
				<img src="{{currCourse.image}}" id="base64PicURL" width="500px">
				<span id="base64Name"></span>
				<button type="button" class="btn btn-primary btn-sm" a id="removeURL" ng-click="removeImg()">Remove</a></button>	
				</div>
			
				<input type="submit" value="Submit" class="btn btn-primary btn-sm" ng-click="editCourse()">
				<br>
				
				<label>Team details</label>
				<br>
				<button type="button" class="btn btn-primary btn-sm" ng-click="loadTeamFormingDetail()">loadTeamFormingDetail</a></button>	
					<br>
					Team:
					<br>
					<div ng-repeat="q in existedTeam">
					
						<li>Name:{{q.name}} Member in Team:{{ q.member.length }} <a href="teamInfo.html?t={{q.key}}" target="_blank">Details</a></li>
						<br>

		      		</div>
					
					Non team students:
					<br>
					<div ng-repeat="q in studentList">
						<li>{{ q.data.userName }}{{ q.data.email }}<a href="userInfo.html?u={{q.key}}" target="_blank">Details</a></li>
						<br>
		      		</div>
					
			</div>
		</div>
	</div>
</div>


        <!-- /#page-content-wrapper -->
    
	<!-- /#wrapper -->
<!-- jQuery -->
    



    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
	
    </script>
	

</body>
</html>
