<!doctype html>
<html ng-app="teamforming">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Team Forming Website</title>
	<!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	-->
	        
    <script src="lib/jquery.min.js"></script>      
    <script src="lib/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      	  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<link rel="stylesheet" href="js/fancyBox/source/jquery.fancybox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="js/fancyBox/source/jquery.fancybox.pack.js"></script>

      
    <!-- Customized libraries shared by pages -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>
	<!-- AngularFire URL: https://github.com/firebase/angularfire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

	<script>
	  // Initialize Firebase
	  var config = {
		apiKey: "AIzaSyB6bC90FN323tYhfGdeesZodkj3jEymAMU",
		authDomain: "comp3111teamform.firebaseapp.com",
		databaseURL: "https://comp3111teamform.firebaseio.com",
		storageBucket: "comp3111teamform.appspot.com",
		messagingSenderId: "990477328608"
	  };
	  firebase.initializeApp(config);
	  
	  $(document).ready(function(){
			//$.get("navbar.html",function(response){
			//$('#navBar').append(response);
			//});
			//$('#wrapper').('navbar.html');
		});
	  
	</script>
	
	<!-- global function -->
	<script src="js/global.js"></script>
	<script src="js/teamPanel.js"></script>
	<script src="js/autoTeamForming.js"></script>
	<script src="js/recommend.js"></script>
	
	<!-- Customized CSS shared by pages -->
	<link href="css/theme.css" rel="stylesheet" type="text/css">
	<link href="css/teamPanel.css" rel="stylesheet" type="text/css">
    <link href="css/inputStyle.css" rel="stylesheet" type="text/css">

</head>

<body>
<div ng-controller="dashBoardCtrl">
	
    <div id="wrapper">
        <!-- Sidebar -->
		<div id="navBar" ng-controller="wrapperCtrl">
			<div ng-include="'navbar.html'"></div>
		</div>
        <!-- Page Content -->
		<div ng-controller="teamPanelCtrl" class="row content">
        	<div ng-if="role=='0'"> 
				<div class="heading">
           	 		<h1>Team Panel</h1>
        		</div>
        
                <div class="section">Team info<button ng-if="isOwner==true&&isEdit==false&&currCourse.random==false" ng-click="editInfoForm()" class="btn btn-primary btn-sm" style="margin-left:20px;">Edit Team Info</button></div>
        		<div id="cont1" ng-if="isEdit==false">
					<table class="teamInfo">
                        <tr><td>Team Name</td><td>:</td><td>{{tName}}</td></tr>
						<tr><td>Course Code</td><td>:</td><td>{{currCourse.title}}</td></tr>
						<tr><td>Maximum Size</td><td>:</td><td>{{currCourse.max}}</td></tr>
						<tr><td>Minimum Size</td><td>:</td><td>{{currCourse.min}}</td></tr>
                        <tr><td><label ng-if="currCourse.random==false" style="font-weight:inherit">Added Tags</label></td>
                            <td ng-if="currCourse.random==false">:</td>
                        <td>
                            <div id="addedTags" ng-repeat="q in tTag">
                                <ul>
                                    <li class="tag"><i class="fa fa-tag" aria-hidden="true"></i> {{q}}
                                    </li>
                                </ul>
                            </div>
        				</td></tr>
                        <tr ng-if="currCourse.random==false"><td>Your Role</td><td>:</td>
                        <td><div ng-if="isOwner==true&&currCourse.random==false">Team Leader<button type="button" class="btn btn-danger btn-sm" a ng-click="deleteTeam()" style="margin-left:20px;">Delete Team</button></div>
                            <div ng-if="isOwner==false&&currCourse.random==false">Team Member<button type="button" class="btn btn-danger btn-sm" a ng-click="quitTeam()" style="margin-left:20px;">Quit Team</button></div>
                        </td></td>
                        <!--<tr><td>Action</td><td>:</td><td><button type="button" class="btn btn-danger btn-sm" a ng-click="deleteTeam()" style="margin-left:10px;">Delete Team</button></td>
                        <tr><td>-->
                        <!--<div ng-if="isOwner==false&&currCourse.random==false"><p style="font-weight:bold;">Team role: Team member</p>
				Action: <button type="button" class="btn btn-danger btn-sm" a ng-click="quitTeam()" style="margin-left:10px;">Quit Team</a></button></div>	
       	 		</div>
				<br>-->

				    </table>
                    
                </div>
            
				<div ng-if="isEdit==true" class="updateTeam" style="margin-left:20px;margin-bottom:20px;">
						<!--<h2>Edit Team Information</h2>-->
						<div>
							<label>Team name</label>
							<br>
							<input type="text" ng-model="tName" id="editTeamName">
						</div>
						<div>
							<label>Team description</label>
							<br>
							<textarea ng-model="tDesc" id="editTeamDesc" style="min-width:400px;min-height:90px;"></textarea>
						</div>
						<div>
							<label>Tags</label>
								<div class="input-group">
								<input type="text" id="autoComplete">
									<a style="margin-left:-20px;" ng-click="addTag()">
										<i class="fa fa-plus" aria-hidden="true">
										</i>
									</a>
								</div>

						</div>
						<div id="addedTags" ng-repeat="q in addedTags" style="margin-top:5px;">
							<ul>
								<li class="tag">{{q}}
									<a style="margin-left:3px;" ng-click="removeTag(q)">
										<i class="fa fa-times" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</div>
						<br>
						<button class="btn btn-success btn-sm" ng-click="editTeamInfo()">update</button>
						<button class="btn btn-danger  btn-sm" ng-click="cancelEditInfoForm()" style="margin-left:10px;">cancel</button>
				</div>	
                <div class="section">About Us</div>
                <div class="cont"><p style="font-size:1.2em;font-weight:200;">{{tDesc}}</p></div>
				<div class="section">Team member</div>
				<div id="cont2">
					<ul class="member">
						<li ng-repeat="q in teamMember">
							<a href="userInfo.html?u={{q.key}}" target="_blank">
								<div style="width:150px;height:150px; background-image: url('{{q.data.icon}}');  background-repeat: no-repeat;background-position: center;"></div>
								<div class="hover-text">
									<div class="line">
									{{ q.data.userName }}
									</div>
									<span ng-if="tLeaderID==q.data.email" style="padding-left:15px;">Leader</span>
									<span ng-if="tLeaderID!=q.data.email" style="padding-left:15px;">Member</span>
								</div>
							</a>
							<div ng-if="isOwner==true" class="action1">
								<button type="button" class="btn btn-danger btn-sm" a ng-click="deleteMember(0,q.data.email,q.key)">Kick out</a></button>
							</div>
						</li>
					</ul>
                </div>
				<div class="section" ng-if="currCourse.random==false&&isOwner==true">
					Member Request List
				</div>
				<ul class="member" ng-if="currCourse.random==false">
						<li ng-repeat="q in waitingList">
							<a href="userInfo.html?u={{q.key}}" target="_blank">
								<div style="width:150px;height:150px; background-image: url('{{q.data.icon}}');  background-repeat: no-repeat;background-position: center;"></div>
								<div class="hover-text">
									<div class="line">
									{{ q.data.userName }}
									</div>
									{{ q.data.email }}
								</div>
							</a>
							<div ng-if="isOwner==true" class="action1">
								<button type="button" class="btn btn-success btn-sm" a ng-click="requestHandler(0,0,q.data.email,q.key)">Accept</a></button>
							</div>
							<div ng-if="isOwner==true" class="action2">
								<button type="button" class="btn btn-danger btn-sm" a ng-click="requestHandler(1,0,q.data.email,q.key)">Decline</a></button>
							</div>	
						</li>
					</ul>
				<div ng-if="isOwner==true">
				<div class="section" ng-if="currCourse.random==false">
					Member invite list
						<button id="btn_admin" type="button" class="btn btn-primary btn-sm" ng-click="inviteForm()" style="margin-left:20px;">Invite Member</button>
				</div>
				

				<ul class="member" ng-if="currCourse.random==false" style="margin-left:20px;">
						<li ng-repeat="q in inviteList">
							<a href="userInfo.html?u={{q.key}}" target="_blank">
								<div style="width:150px;height:150px; background-image: url('{{q.data.icon}}');  background-repeat: no-repeat;background-position: center;"></div>
								<div class="hover-text">
									<div class="line">
									{{ q.data.userName }}
									</div>
									{{ q.data.email }}
								</div>
							</a>
							<div ng-if="isOwner==true" class="action1">
								<button type="button" class="btn btn-danger btn-sm" a ng-click="inviteHandler(1,q.key,q.data.email)">Delete</a></button>
							</div>
						</li>
					</ul>
				
				<div id="studentList" style="display:none; width:500px; padding: 0px;" class="fancybox">
					<div style="margin-top:20px;">Search:
                        <input id="input_text" type="text" class="input" ng-model="searchStudent.data[searchBy]" style="position:relative;top:-15px;">
						<select ng-model="searchBy">
							<option value="$">All</option>
							<option value="name">Name</option>
							<option value="email">Email</option>
						</select>   
                    </div>
					
					<table class="table table-sm" >
					  <thead>
						<tr>
						  <th>Name</th>
						  <th>Email</th>
						  <th>Detail</th>
						  <th>Option</th>
						</tr>
					  </thead>
					  <tbody>
						<tr ng-repeat="q in studentList | filter:searchStudent">
						  <th scope="row">{{ q.data.userName }}</th>
						  <td>{{ q.data.email }}</td>
						  <td><a href="userInfo.html?u={{q.key}}" target="_blank">Profile</a></td>
						  <td><button ng-click="inviteHandler(0,q.key,q.data.email)" class="btn btn-default btn-sm" style="pull-right">Invite</button></td>
						 </tr>
					  </tbody>
					</table>
					
					<!--
					<div ng-repeat="q in studentList | filter:searchStudent">
						<li>{{ q.data.userName }}&nbsp;({{ q.data.email }})&nbsp;&nbsp;&nbsp;
        <a href="userInfo.html?u={{q.key}}" target="_blank">Profile</a>&nbsp;&nbsp;&nbsp;
        <button ng-click="inviteHandler(0,q.key,q.data.email)" class="btn btn-default btn-sm" style="pull-right">Invite</button>
                        </li>
						<br>

		      		</div>
                    <div style="margin-top:20px;margin-bottom:10px;">You may looking for:</div>
					<div ng-repeat="p in recommendStudentList">
						<li>
						{{ p.data.userName }}&nbsp;({{ p.data.email }})&nbsp;&nbsp;&nbsp;<a href="userInfo.html?u={{p.key}}" target="_blank">Profile</a>&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-default btn-sm" ng-click="inviteHandler(0,p.key,p.data.email)">Invite</button>
						<br>
						<div ng-repeat="k in p.data.sameTags" style="margin-left:28px;">
				            <span>Tags: <b>{{k}}</b></span>
						</div>
						</li>
						<br>

		      		</div>
					-->
					You may looking for:
					<table class="table table-sm" >
					  <thead>
						<tr>
						  <th>Name</th>
						  <th>Email</th>
						  <th>Detail</th>
						  <th>Option</th>
						</tr>
					  </thead>
					  <tbody ng-repeat="p in recommendStudentList">
						<tr class="table-success">
						  <th scope="row">{{ p.data.userName }}</th>
						  <td>{{ p.data.email }}</td>
						  <td><a href="userInfo.html?u={{p.key}}" target="_blank">Profile</a></td>
						  <td><button ng-click="inviteHandler(0,p.key,p.data.email)" class="btn btn-default btn-sm" style="pull-right">Invite</button></td>
						</tr>
						<tr class="table-success" ng-repeat="k in p.data.sameTags">
						  <td  colspan="4"><span>Tags: <b>{{k}}</b></span></td>
						</tr>
					  </tbody>
					</table>
					
					
					
				</div>
				
				</div>
    
			</div>
			
			<div id="teamFormingDetail" style="display:none; width:500px; padding: 0px;" class="fancybox">
					Teamed up students:
					<table class="table table-sm" >
					  <thead>
						<tr>
						  <th>Tame Name</th>
						  <th>No. of Members</th>
						  <th>Detail</th>
						</tr>
					  </thead>
					  <tbody>
						<tr ng-repeat="q in existedTeam">
						  <th scope="row">{{q.name}}</th>
						  <td>{{ q.member.length }}</td>
						  <td><a href="teamInfo.html?t={{q.key}}" target="_blank">Details</a></td>
						 </tr>
					  </tbody>
					</table>
					Unteamed students:
					<table class="table table-sm" >
					  <thead>
						<tr>
						  <th>Name</th>
						  <th>Email</th>
						  <th>Detail</th>
						</tr>
					  </thead>
					  <tbody>
						<tr ng-repeat="q in studentList">
						  <th scope="row">{{ q.data.userName }}</th>
						  <td>{{ q.data.email }}</td>
						  <td><a href="userInfo.html?u={{q.key}}" target="_blank">Profile</a></td>
						 </tr>
					  </tbody>
					</table>
					
					
				</div>
			
			
			
			
			<div ng-if="role=='1'"> 
				<div class="heading">
					<h1>Course Panel</h1>
				</div>
            <div class="cont">
                <div class="section" style="margin-left:0px;">Team details<button type="button" class="btn btn-primary btn-sm" ng-click="loadTeamFormingDetail()" style="margin-left:20px;">load TeamForming Detail</button>	</div>
            <div style="margin-left:14px;">
				<span ng-if="currCourse.isFormed==false&&currCourse.random==true">
				<span ng-controller="autoTeamFormingCtrl">
				<button type="button" class="btn btn-primary btn-sm" ng-click="runAutoTeamForming(0)" id="randomBtn">Random</a></button>	
				</span>

				</span>
				<!--<span ng-controller="autoTeamFormingCtrl">
				<button type="button" class="btn btn-primary btn-sm" ng-click="runAutoTeamForming(1)" id="autoBtn">Auto</a></button></span>-->
					
                </div>
                </div>
<div class="section" style="margin-left:20px;margin-top:20px;">Edit Course Details</div>
				<div id="cont1" class="cont">
                    <span class="input input--minoru">
                        <label class="input__label input__label--minoru" for="Course.title">
 							<span class="input__label-content input__label-content--minoru">Course title</span>
 					</label>
 						<input class="input__field input__field--minoru" type="text" id="Course.title" value="{{currCourse.title}}" ng-model="currCourse.title" required size="20">
 					</span>
				</div>
                <div id="cont2" class="cont">
					<span class="input input--minoru">
                         						<label class="input__label input__label--minoru" for="currCourse.message">
 							<span class="input__label-content input__label-content--minoru">Description</span>
 						</label>
 						<textarea class="input__field input__field--minoru" ng-model="currCourse.message" required rows="5" cols="50" >{{currCourse.title}}</textarea>
 					</span>
				</div>
				
				<div id="cont3" class="cont">
                   <span class="input input--minoru">
                    <label class="input__label input__label--minoru" for="profilePic">
                            <span class="input__label-content input__label-content--minoru">Course image</span>
                        </label>
                            <input class="input__field input__field--minoru" type='file' id="profilePic" onchange="angular.element(this).scope().fileNameChanged(this)" style="background:transparent;color:black;">
                    </span>
                    <div style="margin-left:17px;">
                        <img src="{{currCourse.image}}" id="base64PicURL" width="500px">
                        <button type="button" class="btn btn-danger btn-sm" a id="removeURL" ng-click="removeImg()">Remove</a></button>
                    </div>
                    <span id="base64Name"></span>
                    <br>
                    <button type="submit" value="Submit" class="btn btn-primary btn-sm" ng-click="editCourse()" style="position:relative;right:-17px;">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>


        <!-- /#page-content-wrapper -->
    
	<!-- /#wrapper -->
<!-- jQuery -->
    



    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
	
    </script>
	

</body>
</html>
