<!doctype html>
<html ng-app="teamforming">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Team Forming Website</title>
	<!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	-->
	        
    <script src="lib/jquery.min.js"></script>      
    <script src="lib/bootstrap.min.js"></script>      
      	  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">   

      
    <!-- Customized libraries shared by pages -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>
	<!-- AngularFire URL: https://github.com/firebase/angularfire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

	<link rel="stylesheet" href="js/fancyBox/source/jquery.fancybox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="js/fancyBox/source/jquery.fancybox.pack.js"></script>
	
	<script>
	  // Initialize Firebase
	  var config = {
		apiKey: "AIzaSyB6bC90FN323tYhfGdeesZodkj3jEymAMU",
		authDomain: "comp3111teamform.firebaseapp.com",
		databaseURL: "https://comp3111teamform.firebaseio.com",
		storageBucket: "comp3111teamform.appspot.com",
		messagingSenderId: "990477328608"
	  };
	  firebase.initializeApp(config);
	  
	  $(document).ready(function(){


		});

	</script>
	
	<!-- global function -->
	<script src="js/global.js"></script>
	<script src="js/teamSearch.js"></script>
	<script src="js/recommend.js"></script>
	
	
	<!-- Customized CSS shared by pages -->
	<link href="css/theme.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/dash.css">
	<link href="css/rightNavBar.css" rel="stylesheet" type="text/css">

<body>
<div ng-controller="dashBoardCtrl">

</div>
    <div id="wrapper">

        <!-- Sidebar -->
		<div id="navBar" ng-controller="wrapperCtrl">
		<div ng-include="'navbar.html'"></div>
		</div>
        <!-- Page Content -->
		
		<div class="row content" ng-controller="teamSearchCtrl">
		<div class="heading"><h1>Team Searching Panel</h1></div>
		<div id="teamForm" style="display:none; width:500px; padding: 0px;" class="fancybox">
			<h2>Create Team</h2>
			<div>
				<label>Team name</label>
				<input type="text" ng-model="newTeam.name">
			</div>
			<div>
				<label>Team description</label>
				<br>
				<textarea ng-model="newTeam.description"></textarea>
			</div>

			<input type="submit" ng-click="createTeam()">
		</div>
		
            <div class="col-md-12">
               <div class="row">
                  <div class="col-md-12" ng-controller="teamSearchCtrl">
                     
                     <div class="text-center">
                        <h1>{{currCourse.title}}Team Search</h1>
                        <p>Search the team by <span ng-if="searchBy!='$'">{{searchBy}}</span><span ng-if="searchBy=='$'">All</span></p>
                     </div>

                     <br >

                     <div class="text-center">

                        <input id="input_text" type="text" class="input-lg" ng-model="searchTeam.data[searchBy]">
						<select ng-model="searchBy">
							<option value="$">All</option>
							<option value="name">Name</option>
							<option value="description">Description</option>
						</select>   
                        <br>
                        <em>Enter a name (e.g. COMP3111-L1, COMP3111-L2 or COMP3111H) to join the team</em>
                         <br><br>
						<div>
                           
                           <button id="btn_admin" type="button" class="btn btn-primary" >random team</button>
                          


                           <button id="btn_leader" type="button" class="btn btn-primary" >recommend team</button>
                             <button id="btn_admin" type="button" class="btn btn-primary" ng-click="createTeamForm()">Create team</button>
                          


						</div>
                        
                     </div>
					
						<div class="row" style="margin: 20px;">
							<div ng-repeat="q in existedTeam | filter:searchTeam">
				
								<div class="col-lg-3 col-md-6">
							
									<div class="panel">
										<a href="teamInfo.html?t={{q.key}}" target="_blank"><div class="panel-heading"  style="background:#eee;color:#fff">
											<div class="row">
													<div class="huge t_title">{{q.data.name}}	</div>
											</div>
				
										</div>
										<div class="row" style="min-height:100px;">
											<div class="col-xs-9 ">
												<div>{{q.data.description}}	</div>
											</div>
										</div></a>
										<span ng-if="q.joined==false">
											<a style="cursor: pointer;"  ng-click="joinRequest($index,q.key)">
												<div class="panel-footer">
													<span class="pull-left">Join request</span>
													<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
													<div class="clearfix"></div>
												</div>
											</a>
										</span>
										<span ng-if="q.joined==true">
											<a style="cursor: pointer;"  ng-click="removeRequest($index,q.key)">
												<div class="panel-footer">
													<span class="pull-left">delete request</span>
													<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
													<div class="clearfix"></div>
												</div>
											</a>
										</span>
									</div>
								</div>

							</div>

						</div>
														 
					
					 
                  </div>
               </div>
            </div>

			<div id="right-sidebar"> 
				<div class="invite">
					<h3>Invite list</h3>
					<div ng-repeat="q in inviteRequest" >
						<table>
							<tr><td style="font-weight:bold;">You are invited to join {{q.data.name}}</td></tr>
							<tr><td>Team owner : {{q.data.leaderID}}</td></tr>
							<tr><td><button ng-click="inviteHandler(0,q.key)">Accept</button><button  ng-click="inviteHandler(1,q.key)">Decline</button></td></tr>
						</table>
					</div>
				</div>	
				<div class="recommend" ng-controller="recommendCtrl">
					<h3>Recommendation List</h3>
				</div>
				
			</div>
			
         </div>
		 
      
		
		
       
        <!-- /#page-content-wrapper -->
		
    </div>
    
	<!-- /#wrapper -->
<!-- jQuery -->
    



    <!-- Menu Toggle Script -->
    
	

</body>
</html>
