<!doctype html>
<html ng-app="teamforming">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Team Forming Website</title>
	<!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	-->
	        
    <script src="lib/jquery.min.js"></script>      
    <script src="lib/bootstrap.min.js"></script>      
      	  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">   

      
    <!-- Customized libraries shared by pages -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>
	<!-- AngularFire URL: https://github.com/firebase/angularfire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

	<script>
	  // Initialize Firebase
	  var config = {
		apiKey: "AIzaSyB6bC90FN323tYhfGdeesZodkj3jEymAMU",
		authDomain: "comp3111teamform.firebaseapp.com",
		databaseURL: "https://comp3111teamform.firebaseio.com",
		storageBucket: "comp3111teamform.appspot.com",
		messagingSenderId: "990477328608"
	  };
	  firebase.initializeApp(config);
	  
	  $(document).ready(function(){
			//$.get("navbar.html",function(response){
			//$('#navBar').append(response);
			//});
			//$('#wrapper').('navbar.html');
		});
	  
	</script>
	
	<!-- global function -->
	<script src="js/global.js"></script>
	
	
	
	<!-- Customized CSS shared by pages -->
	<link href="css/theme.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/dash.css">
<body>
<div ng-controller="dashBoardCtrl">

</div>
    <div id="wrapper">

        <!-- Sidebar -->
		<div id="navBar" ng-controller="wrapperCtrl">
		<div ng-include="'navbar.html'"></div>
		</div>
        <!-- Page Content -->
		<div ng-controller="teamPanelCtrl">
        <div ng-if="role=='0'"> 
		<div id="header" style="font-size:30px; font-weight:bold; 	font-style:italic; margin:5px 20px 10px 20px; 	font-style:italic;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif">
 
        Team Panel
        
        <hr style="	border-color:#666; margin-bottom:40px">
        </div>
        
        <div id="cont1" style="margin:0px 20px 40px 20px; font-size:22px; font-weight:500; color:#009">
		Course code: {{currCourse.title}}
        <br>
		Role: student
        <br>   
        Team name: {{joinedTeam.name}}
        <br>
        Max size of this team: {{currCourse.max}}
        <br>


			<p ng-if="isOwner==true">Team role: Team Leader
            <br>
            Action: <button type="button" class="btn btn-primary btn-sm" a ng-click="deleteTeam()">Delete Team</a></button></p>
			<p ng-if="isOwner==false">Team role: Team Member
            <br>
            Action: <button type="button" class="btn btn-primary btn-sm" a ng-click="quitTeam()">Quit Team</a></button></p>

          </div>
            <div id="con2" style="margin:0px 20px 0px 20px">
			<h3>Team member</h3>
			<table class="table table-bordered" >
			  <tr>
			    <th>Name</th>
			    <th>Email</th>
			    <span ng-if="isOwner==true"><th>Action</th></span>
		      </tr>
			  <tr ng-repeat="q in teamMember">
			    <td>{{ q.data.userName }}</td>
			    <td>{{ q.data.email }}</td>
			    <span ng-if="isOwner==true"><td><a ng-click="deleteMember(0,q.data.email,q.key)">delete </a></td></span>
		      </tr>
			  </table>
			<h3>Member waiting list</h3>

			<table class="table table-bordered" >
			  <tr>
			    <th>Name</th>
			    <th>Email</th>
			    <span ng-if="isOwner==true"><th>Action</th></span>
		      </tr>
			  <tr ng-repeat="q in waitingList">
			    <td>{{ q.data.userName }}</td>
			    <td>{{ q.data.email }}</td>
			    <span ng-if="isOwner==true"><td><button type="button" class="btn btn-success" a ng-click="requestHandler(0,0,q.data.email,q.key)">Accept</a></button><button type="button" class="btn btn-danger" a ng-click="requestHandler(1,0,q.data.email,q.key)" style="margin-left:10px">Decline</a></button></td></span>
		      </tr>
			  </table>
            
            
            
            
            
            
		  </div>
          </div>
			<div ng-if="role=='1'"> 
		    <div id="header" style="font-size:30px; font-weight:bold; font-style:italic; margin:5px 20px 10px 20px; 	font-style:italic;font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif">  
            Edit Course 
        <hr style="	border-color:#666; margin-bottom:40px">
        </div>     
          
				<div id="con1" style="margin:20px 20px 20px 20px">
					<label>Title </label> 
					<input type="text" value="{{currCourse.title}}" ng-model="currCourse.title" required style="text-align:center;" size="20">
				</div>
				<div id="con2" style="margin:0px 20px 20px 20px">
					<label>Description</label>
                    <br>
                    <textarea  ng-model="currCourse.message" required rows="5" cols="50" >{{currCourse.title}}</textarea>
				</div>
				<div id="con3" style="margin:0px 20px 20px 20px">
					<label>Team size(2-20)</label>
					<br>
                    <br>
					<label>min</label>
                    <br>
					<input type="number" value="{{currCourse.min}}" ng-model="currCourse.min" min="2" max="20" required style="text-align:center; width:50px;">
					<br>
					<label>max</label>
                    <br>
					<input type="number" value="{{currCourse.max}}" ng-model="currCourse.max" min="2" max="20" required style="text-align:center; width:50px;">
				</div>
				<div id="con4" style="margin:0px 20px 20px 20px">
				<label>Image</label>
				<input type="file" id="profilePic" onchange="angular.element(this).scope().fileNameChanged(this)">
				<img src="{{currCourse.image}}" id="base64PicURL">
				<span id="base64Name"></span>
				<a id="removeURL" ng-click="removeImg()">Remove</a>
				

				</div>
				
				<input type="submit" ng-click="editCourse()" style="margin:0px 20px 20px 20px">
			</div>
            </div>
			
		
		</div>

        <!-- /#page-content-wrapper -->

    </div>
    
	<!-- /#wrapper -->
<!-- jQuery -->
    



    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
	
    </script>
	

</body>
</html>
