<!doctype html>
<html ng-app="teamforming">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Team Forming Website</title>
	<!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	-->
	        
    <script src="lib/jquery.min.js"></script>      
    <script src="lib/bootstrap.min.js"></script>      
      	  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">   

      
    <!-- Customized libraries shared by pages -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>
	<!-- AngularFire URL: https://github.com/firebase/angularfire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

	<link rel="stylesheet" href="js/fancyBox/source/jquery.fancybox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="js/fancyBox/source/jquery.fancybox.pack.js"></script>
	
	<script>
	  // Initialize Firebase
	  var config = {
		apiKey: "AIzaSyB6bC90FN323tYhfGdeesZodkj3jEymAMU",
		authDomain: "comp3111teamform.firebaseapp.com",
		databaseURL: "https://comp3111teamform.firebaseio.com",
		storageBucket: "comp3111teamform.appspot.com",
		messagingSenderId: "990477328608"
	  };
	  firebase.initializeApp(config);
	  
	  $(document).ready(function(){


		});

	</script>
	
	<!-- global function -->
	<script src="js/global.js"></script>
	<script src="js/teamSearch.js"></script>
	<script src="js/recommend.js"></script>
	
	
	<!-- Customized CSS shared by pages -->
	<link href="css/theme.css" rel="stylesheet" type="text/css">
	<link href="css/dash.css" rel="stylesheet" type="text/css">
	<link href="css/rightNavBar.css" rel="stylesheet" type="text/css">
	<link href="css/inputStyle.css" rel="stylesheet" type="text/css">

<body>
<div ng-controller="dashBoardCtrl">

</div>
    <div id="wrapper">

        <!-- Sidebar -->
		<div id="navBar" ng-controller="wrapperCtrl">
		<div ng-include="'navbar.html'"></div>
		</div>
        <!-- Page Content -->
		
		<div class="row content" ng-controller="teamSearchCtrl">
		<div class="heading"><h1>Team Searching Panel</h1></div>
		<div id="teamForm" style="display:none; width:500px; padding: 0px;" class="fancybox">
			<h2>Create Team</h2>
			<div>
				<label>Team name</label>
				<input type="text" ng-model="newTeam.name">
			</div>
			<div>
				<label>Team description</label>
				<br>
				<textarea ng-model="newTeam.description"></textarea>
			</div>

			<input type="submit" ng-click="createTeam()">
		</div>
		
            <div class="col-md-12">
               <div class="row">
                  <div class="col-md-12" ng-controller="teamSearchCtrl">
                     
                     <div class="text-center">
                        <h1>
							{{currCourse.title}} 
							<br>
							Team Search
						</h1>
                     </div>
                     <div class="text-center">
						<span class="input input--makiko">
							<input class="input__field input__field--makiko" type="text" id="Search" ng-model="searchTeam.data[searchBy]">
							<label class="input__label input__label--makiko" for="Search">
								<span class="input__label-content input__label-content--makiko">
									Search team <span ng-if="searchBy!='$'">by {{searchBy}}</span>
								</span>
							</label>
						</span>
						<br>
						<label><input type="radio" ng-model="searchBy" value="$">All</label>
						<label><input type="radio" ng-model="searchBy" value="name" style="margin-left:10px;">Name</label>
						<label><input type="radio" ng-model="searchBy" value="description" style="margin-left:10px;">Description</label>
                        <br>
                        <em>Click on the team name (e.g. Team 1 / Team 9000 / Team Combined) to send your join request to the team leader</em>
                         <br><br>
						 <em>Or</em>
						 <br><br>
						<div>
                        	<button id="btn_admin" type="button" class="btn btn-primary" ng-click="createTeamForm()">Create your own team</button>
						</div>                        
                     </div>
					
						<div class="row" style="margin: 20px;">
							<div ng-repeat="q in existedTeam | filter:searchTeam">
								<div class="col-lg-3 col-md-6">
									<div class="panel">
										<a href="teamInfo.html?t={{q.key}}" target="_blank"><div class="panel-heading"  style="background:#eee;color:#fff">
											<div class="row">
													<div class="huge t_title">{{q.data.name}}	</div>
											</div>
										</div>
										<div class="row" style="min-height:100px;">
											<div class="col-xs-9 ">
												<div>{{q.data.description}}	</div>
											</div>
										</div></a>
										<span ng-if="q.joined==false">
											<a style="cursor: pointer;"  ng-click="joinRequest($index,q.key)">
												<div class="panel-footer">
													<span class="pull-left">Join request</span>
													<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
													<div class="clearfix"></div>
												</div>
											</a>
										</span>
										<span ng-if="q.joined==true">
											<a style="cursor: pointer;"  ng-click="removeRequest($index,q.key)">
												<div class="panel-footer">
													<span class="pull-left">delete request</span>
													<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
													<div class="clearfix"></div>
												</div>
											</a>
										</span>
									</div>
								</div>

							</div>

						</div>
														 
					
					 
                  </div>
               </div>
            </div>

			<div id="right-sidebar"> 
				<div class="invite">
					<h3 class="section">Invite list</h3>
					<div ng-repeat="q in inviteRequest" >
						<table>
							<tr><td style="font-weight:bold;">You are invited to join {{q.data.name}}</td></tr>
							<tr><td>Team owner : {{q.data.leaderID}}</td></tr>
							<tr><td><button ng-click="inviteHandler(0,q.key)">Accept</button><button  ng-click="inviteHandler(1,q.key)">Decline</button></td></tr>
						</table>
					</div>
				</div>	
				<div class="recommend" ng-controller="recommendCtrl">
					<h3 class="section">Recommendation List</h3>
					<div ng-repeat="q in teamList">
					<div style="background:#eee;margin-top:5px;">
					Name:<a href="teamInfo.html?t={{q.key}}" target="_blank">{{q.name}}</a><br>
					Looking for:|<span ng-repeat="p in q.sameTags">{{p}}|</span><br>
					<span ng-if="q.joined==false">
						<a style="cursor: pointer;"  ng-click="joinRequest($index,q.key)">
								<span>Join request</span>
						</a>
					</span>
					<span ng-if="q.joined==true">
						<a style="cursor: pointer;"  ng-click="removeRequest($index,q.key)">	
								<span>delete request</span>
						</a>
					</span>
					</div>
						
					</div>
				</div>
				
			</div>
			
         </div>
		 
      
		
		
       
        <!-- /#page-content-wrapper -->
		
    </div>
    
	<!-- /#wrapper -->
	<!-- jQuery -->
    <!-- Menu Toggle Script -->

	<!-- Search Animation Script -->
	<script src="js/searchAnimation.js"></script>
    <script>
			(function() {
				// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
				if (!String.prototype.trim) {
					(function() {
						// Make sure we trim BOM and NBSP
						var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
						String.prototype.trim = function() {
							return this.replace(rtrim, '');
						};
					})();
				}

				[].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
					// in case the input is already filled..
					if( inputEl.value.trim() !== '' ) {
						classie.add( inputEl.parentNode, 'input--filled' );
					}

					// events:
					inputEl.addEventListener( 'focus', onInputFocus );
					inputEl.addEventListener( 'blur', onInputBlur );
				} );

				function onInputFocus( ev ) {
					classie.add( ev.target.parentNode, 'input--filled' );
				}

				function onInputBlur( ev ) {
					if( ev.target.value.trim() === '' ) {
						classie.remove( ev.target.parentNode, 'input--filled' );
					}
				}
			})();
		</script>
</body>
</html>
